In [4]:
import numpy as np

In [5]:
str1="this is india"
str2="i am currently in LA"

### add(): add the two strings

In [6]:
np.char.add(str1,str2)

array('this is indiai am currently in LA', dtype='<U33')

### upper(): convert into upper case

In [7]:
np.char.upper(str1)

array('THIS IS INDIA', dtype='<U13')

In [8]:
np.char.upper(str2)

array('I AM CURRENTLY IN LA', dtype='<U20')

### center(): shift the string to the center

In [9]:
np.char.center(str1,60)

array('                       this is india                        ',
      dtype='<U60')

In [10]:
np.char.center(str1,60,fillchar="*")

array('***********************this is india************************',
      dtype='<U60')

### split(): split the string

In [11]:
np.char.split(str1)

array(list(['this', 'is', 'india']), dtype=object)

In [12]:
np.char.split("nikhil\nkumar")

array(list(['nikhil', 'kumar']), dtype=object)

In [13]:
np.char.splitlines("nikhil\nkumar")

array(list(['nikhil', 'kumar']), dtype=object)

### join():joining by character

In [14]:
np.char.join([":","*"],[str1,str2])

array(['t:h:i:s: :i:s: :i:n:d:i:a',
       'i* *a*m* *c*u*r*r*e*n*t*l*y* *i*n* *L*A'], dtype='<U39')

### replace():replace by character

In [16]:
np.char.replace(str1,"is","loveuu")

array('thloveuu loveuu india', dtype='<U21')

### equal(): whether strings r equal or not

In [17]:
np.char.equal(str1,str2)

array(False)

In [18]:
s1="nikhil"
s2="nikhil"

In [19]:
np.char.equal(s1,s2)

array(True)

### count(): count no of particular character

In [20]:
np.char.count(s1,"i")

array(2)

### find(): find where the particular charcter is

In [21]:
np.char.find(str1,"is")

array(2)